
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title><h2>SOLUCIONES INTELIGENTES</h2></mat-card-title>
        <mat-card-subtitle><p>Que tecnología necesitas emplear para tu empresa?</p></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table-basic-example></table-basic-example>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="redirecTo()" mat-raised-button color="primary"><mat-icon class="white-icon">add</mat-icon>Crear nuevo empleado</button>
    </mat-card-actions>
</mat-card>